<br><br>
<div class="parent" >
    <form  #volunteerform="ngForm" class="form-horizontal" name="form1">
        <div class="form-group" [class.has-error]="firstnamecontrol.invalid && firstnamecontrol.touched" [class.has-success]="firstnamecontrol.valid">
            <label class="control-label col-sm-2 col-sm-2"  >First Name</label>
            <div class="col-sm-4">
                <input required [(ngModel)]="volunteerData.firstname" type="text"  name="firstname" class="form-control"  placeholder="Enter First Name"  #firstnamecontrol="ngModel">
            </div>
            <span  class=" help-block  " *ngIf="firstnamecontrol.invalid && firstnamecontrol.touched">
              First name is required
            </span>
        </div>
        <div class="form-group" [class.has-error]="lastnamecontrol.invalid && lastnamecontrol.touched" [class.has-success]="lastnamecontrol.valid"> 
             <label class="control-label col-sm-2"  >Last Name</label>
            <div class="col-sm-4">
                <input required [(ngModel)]="volunteerData.lastname" name="lastname" type="text" class="form-control"  placeholder="Enter Last Name" #lastnamecontrol="ngModel">
            </div>
            <span  class="help-block" *ngIf="lastnamecontrol.invalid && lastnamecontrol.touched">
                Last name is required
              </span>
        </div>
        <div class="form-group"  [class.has-error]="emailcontrol.invalid && emailcontrol.touched" [class.has-success]="emailcontrol.valid">
            <label class="control-label col-sm-2"   >Email</label>
            <div class="col-sm-4">
                <input required email [(ngModel)]="volunteerData.email" name="email" type="email" class="form-control"  placeholder="Enter Email address" #emailcontrol="ngModel">
            </div>
            <span  class="help-block" *ngIf="emailcontrol.errors?.required && emailcontrol.touched">
                Email is required
              </span>
              <span  class="help-block" *ngIf="emailcontrol.errors?.email && emailcontrol.touched">
                Email is Invalid
              </span>
        </div>
        <div class="form-group"  [class.has-error]="passwordcontrol.invalid && passwordcontrol.touched" [class.has-success]="passwordcontrol.valid">
            <label class="control-label col-sm-2"  >Password</label>
            <div class="col-sm-4">
                <input required [(ngModel)]="volunteerData.password" name="password" type="password" class="form-control"   placeholder="Enter password" #passwordcontrol="ngModel">
            </div>
            <span  class="help-block" *ngIf="passwordcontrol.invalid && passwordcontrol.touched">
                Password is required
            </span>
        </div>
        <div class="form-group " [class.has-error]="occupationcontrol.invalid && occupationcontrol.touched" [class.has-success]="occupationcontrol.valid">
            <label class="control-label col-sm-2"  >Occupation</label>
            <div class="col-sm-3">
                <select class="form-control form-control-sm"  [(ngModel)]="volunteerData.occupation" name="occupation" #occupationcontrol="ngModel">
                    <option value="1">Studying</option>
                    <option value="2">Passed out</option>
                    <option value="3">Other</option>
                  </select>
                  <span  class="help-block" *ngIf="occupationcontrol.invalid && occupationcontrol.touched">
                    Occupation is required
                </span>
            </div>
        </div>
        <div class="form-group" [class.has-error]="mobilecontrol.invalid && mobilecontrol.touched" [class.has-success]="mobilecontrol.valid">
            <label class="control-label col-sm-2"   >Mobile No.</label>
            <div class="col-sm-4">
                <input required [(ngModel)]="volunteerData.mobile" name="mobile" type="text" class="form-control"  placeholder="Enter Mobile no" #mobilecontrol="ngModel">
            </div>
            <span  class="help-block" *ngIf="mobilecontrol.invalid && mobilecontrol.touched">
                Mobilenumber is required
            </span>
        </div>
        <div class="form-group" [class.has-error]="agecontrol.invalid && agecontrol.touched" [class.has-success]="agecontrol.valid">
            <label class="control-label col-sm-2"   >Age</label>
            <div class="col-sm-1">
                <input required [(ngModel)]="volunteerData.age" name="age" type="number" class="form-control" placeholder="age" #agecontrol="ngModel">
            </div>
            <span  class="help-block" *ngIf="agecontrol.invalid && agecontrol.touched">
                Age is required
            </span>
        </div>
    
        <div class="form-group" >
            <label class="control-label col-sm-2"   >Location:</label>
            <div class="col-sm-4">
                <textarea  [(ngModel)]="volunteerData.location" name="location" type="text" class="form-control" placeholder="Enter Location"> </textarea>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2"   ></label>
            <div class="col-sm-8">
                <button (click)="post()" class="btn-btn-primary" [disabled]="volunteerform.invalid" name="register">Register</button>
            </div>
        </div>

    </form> 
    
</div>