<br><br>
<div class="container">
<form class="form-horizontal">
    <div class="form-group">
        <label class="control-label col-sm-2" id="fullname">FullName:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter Name">
        </div> 
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" id="fullname">Aadhar No:</label>
        <div class="col-sm-5">
            <input type="number" class="form-control" placeholder="Enter Aadhar no">
        </div> 
    <!-- </div>
     <div class="form-group"> -->
        <label class="control-label col-sm-2" id="fullname">Family Income:</label>
        <div class="col-sm-3">
            <input type="number" class="form-control" placeholder="Enter Family Income">
        </div> 
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" id="fullname">No of Persons</label>
        <div class="col-sm-3">
            <input type="number" class="form-control" placeholder="Enter No of Personss">
        </div> 
        <label class="control-label col-sm-2" id="fullname">Occupation:</label>
        <div class="col-sm-5">
            <input type="text" class="form-control" placeholder="Enter Occupation">
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" id="fullname">Location:</label>
        <div class="col-sm-10">
            <textarea type="text" class="form-control" placeholder="Enter Location"> </textarea>
        </div> 
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" id="fullname">Requirment:</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="Enter Name">
        </div> 
    </div>

</form>
</div>