
  
<div class="container-fluid" style="background-color: black;">
  <nav class="navbar navbar-expand-lg navbar-static " id="navbar">
 
 
      <div class="collapse navbar-collapse js-navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">

          <a class="nav-item nav-link" id="nav-item" routerLink="/volunteer">Register</a>

          
          
          <a class="nav-item nav-link" id="nav-item" >Login</a>
          
        
          <a class="nav-item nav-link" id="nav-item" style="font-size: 25px;" routerLink="cart"><i class="fa fa-shopping-cart"></i></a>
        </div>
      </div>
    </nav>
  </div>
  <br><br>

